/*ROOT*/
:root {
    --size-cards-main : 120vh;
}
/*COMMON RULES*/
body {
    font-family: 'Montserrat', sans-serif !important;
}
main 
{
    background-color: #E8544A;
    color: #eceff2;
}

.accueilTitle
{
    font-size: 3em;
    
}

.nav-item:hover
{   
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgb(70, 70, 70);

}
.linkFooter:hover
{   
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgb(70, 70, 70); 
}
/* @media screen and (max-width: 600px)
{
    .mainClass
    {
        display: block;
        flex-direction: column;
    }
} */
.mainClass
{
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    height: 100vh;
}
.image-clignote  
{
    animation-duration: 2s;
    animation-name: clignoter;
    animation-timing-function: ease-in;
    
 }
 @keyframes clignoter {
    
   0%   { opacity:0; }
   20%  { opacity:0.3; }
   40%  {opacity:0.5; }
   70%  { opacity:0.8; }
   100% { opacity:1; }
 }
 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.navbar
{
    background-color: #e7d8c9 ;
}
footer, .news-card, .news-card-body 
{
    background-color: #e7d8c9;
}
.btn-styles {
    background-color: #66d194;
    padding: 0.5em 3em;
    color: #ffffff;
    margin: 0.5em auto;
    border-style: initial;
    border-color: initial;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
}
button
{
    background-color: #66d194;
}

/* animation for WCS news title */
.ml3 {
    font-weight: 900;
    font-size: 4.5em;
    text-align: justify;
  }
/* end of animation for WCS news title */

h5 {
    color: #E8544A;
    font-weight: bold;
}
/* CSS RULES FOR NEWS.HTML */

#more {display: none;}
#maskCor
/*START CSS RULES FOR CARDS.HTML */
.cards-card-title {
    color: initial;
}
.cards-img {
    max-height: 250px;
    object-fit: contain;
}
.cards-basket {
    flex-grow: 1;
    overflow: auto;
}
.cards-form {
    display: flex;
    flex-direction: column;
    margin: 1em 0.5em;
}
.cards-main {
    height: var(--size-cards-main);
    margin-top: 111px;
}
.cards-list-group-item {
    color: initial;
}
.cards-aside {
    background-color: #8f8389;
    height: var(--size-cards-main);
}
.cards-label {
    font-size: 0.8em;
}
.cards-placeholder::placeholder {
    font-style: italic;
    font-size: 0.8em;
}
/* END CSS RULES FOR CARDS.HTML */
/*MEDIA QUERIES*/
@media screen and (min-width: 1024px) 
{
    .btn-styles-hover:hover {
        transform: scale(1.05);
        transition: transform 0.2s;
    }
}

@media screen and (max-width: 992px) {

    .cards-col-lg-4 {
        margin: 0 10%;
    }
}
@media screen and (max-width: 767px) {
    


    .cards-col-lg-4 {
        margin: 0 5%;
    }
    .cards-main {
        flex-direction: column;
        height: initial;
    }
    .cards-aside {
        height: initial;
        padding-bottom: 1em;
    }
    .cards-form {
        width: 70%;
        margin: auto;
    }
}
@media screen and (max-width: 576px) {

    .mainClass
    {
        flex-direction: column;
    }

    .cards-col-lg-4 {
        margin: 0 5%;
    }
    .cards-form {
        width: 80%;
    }
}
@media screen and (max-width: 360px) {

    .cards-col-lg-4 {
        margin: 0 5%;
    }
    .cards-form {
        width: 90%;
    }
}
@media screen and (max-width:767px)
{
    #buttonAside
    {
        display: none;
    }
}
.School-map 
{
   width: 50%;
   text-align: justify;
   padding-left: 4em;

}
@media screen and (max-width:992px)
{
   .School-map
   {
       margin: 0;
       padding: 0;
       width: 400px;
   } 
}

#buttonAside 
{
    position: fixed;
    top: 20em;
    left: 95%;
    background-color: #1fd192;
    border-radius: 70px;
}

