main 
{
    background-color: #E8544A;
    color: #eceff2;
    font-family: 'Montserrat', sans-serif;
}
a:hover
{   
    box-shadow: 2px 2px 5px rgb(70, 70, 70);  
}   
.navbar
{
    background-color: #e7d8c9 ;
}
footer 
{
    background-color: #e7d8c9;
}
.btn-styles {
    background-color: #66d194;
    padding: 0.5em 3em;
    color: #ffffff;
    margin: 0.5em auto;
    border-style: initial;
    border-color: initial;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
}
.btn 
{
    background-color: #66d194;
}
