 .School-map 
 {
    width: 50%;
    text-align: justify;
    padding-left: 4em;

 }
 @media screen and (max-width:992px)
 {
    .School-map
    {
        margin: 0;
        padding: 0;
        width: 400px;
    } 
}


 

